body {
  margin: 0;
  padding: 0;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;  
  background-attachment: fixed; 
  min-height: 100vh;
}

.hidden {
  display: none;
}

.weather-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgb(172, 172, 172);
}

a{
  text-decoration: none;
  color: rgb(12, 100, 0);
}